<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Paralax</title>
    <meta property="og:site_name" content="Paralax Story" />
    <meta property="og:url" content="https://story.shurisko.fr/" />
    <meta property="og:title" content="Paralax Story" />
    <meta property="og:description" content="Paralax Story, The place between the real and the dream" />
    <meta property="og:color" content="#4c2b00" />
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://story.shurisko.fr/favicon.png">
    <meta name="theme-color" content="#4c2b00">

    <meta name="description" content="Paralax Story, The place between the real and the dream">
    <meta name="author" content="Power Raccoon Ranger">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">


    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/9b1834761a.js" crossorigin="anonymous"></script>

    <!-- Web Fonts  -->
    <link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+dark&display=swap" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="https://r.shurisko.fr/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://r.shurisko.fr/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://r.shurisko.fr/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="https://r.shurisko.fr/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://r.shurisko.fr/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://r.shurisko.fr/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://r.shurisko.fr/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="https://r.shurisko.fr/css/theme.css">
    <link rel="stylesheet" href="https://r.shurisko.fr/css/theme-elements.css">
    <link rel="stylesheet" href="https://r.shurisko.fr/css/theme-blog.css">
    <link rel="stylesheet" href="https://r.shurisko.fr/css/theme-shop.css">

    <!-- Revolution Slider CSS -->
    <link rel="stylesheet" href="https://r.shurisko.fr/vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="https://r.shurisko.fr/vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="https://r.shurisko.fr/vendor/rs-plugin/css/navigation.css">
    <!-- Current Page CSS -->
    <link rel="stylesheet" href="https://r.shurisko.fr/vendor/circle-flip-slideshow/css/component.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="https://r.shurisko.fr/css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="https://r.shurisko.fr/css/custom.css">

    <!-- Head Libs -->
    <script src="https://r.shurisko.fr/vendor/modernizr/modernizr.min.js"></script>

</head>
<body data-plugin-page-transition>

<style type="text/css">
    .vertical-center {
        min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 80vh; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
    }

    body {
        background-color: rgb(179, 183, 189);
    }
</style>

<div class="body" style="background-color: rgb(179, 183, 189);">
    <div class="container py-4">

        <div class="row justify-content-center vertical-center">
            <div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">

                <div class="card card-border card-border-top bg-color-light">
                    <div class="card-body">
                        <h2 class="card-title text-6 mb-2 font-weight-bold text-center">Paralax Inscription</h2>
                        <p class="card-text text-center">Merci de rentrer vos les informations de votre histoire afin de pouvoir vous créez un compte.</p>

                        <form class="contact-form form-with-icons" action="/register" method="post">

                            <div class="row">
                                <div class="form-group">
                                    <label class="form-label mb-1 text-2">Nom de votre histoire</label>
                                    <div class="position-relative">
                                        <i class="icons icon-envelope text-color-primary text-3 position-absolute left-15 top-50pct transform3dy-n50"></i>
                                        <input type="text" value="" id="username" data-msg-required="Veuillez soumettre votre Username !" maxlength="100" class="form-control text-3 h-auto py-2" name="id" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="form-label mb-1 text-2">Mot de passe de votre histoire</label>
                                    <div class="position-relative">
                                        <i class="icons icon-lock text-color-primary text-3 position-absolute left-15 top-50pct transform3dy-n50"></i>
                                        <input type="password" value="" id="password" data-msg-required="Veuillez soumettre un mot de passe !" class="form-control text-3 h-auto py-2" name="password" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col text-center">
                                    <input type="submit" value="Inscription" id="submit_login" class=" btn btn-primary">
                                </div>
                            </div>
                            <div>
                                <img class="mx-auto d-block" src="/epitech.svg">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor -->
<script src="https://r.shurisko.fr/vendor/jquery/jquery.min.js"></script>
<script src="https://r.shurisko.fr/vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="https://r.shurisko.fr/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="https://r.shurisko.fr/vendor/jquery.cookie/jquery.cookie.min.js"></script>
<script src="https://r.shurisko.fr/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://r.shurisko.fr/vendor/jquery.validation/jquery.validate.min.js"></script>
<script src="https://r.shurisko.fr/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="https://r.shurisko.fr/vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="https://r.shurisko.fr/vendor/lazysizes/lazysizes.min.js"></script>
<script src="https://r.shurisko.fr/vendor/isotope/jquery.isotope.min.js"></script>
<script src="https://r.shurisko.fr/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="https://r.shurisko.fr/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="https://r.shurisko.fr/vendor/vide/jquery.vide.min.js"></script>
<script src="https://r.shurisko.fr/vendor/vivus/vivus.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="https://r.shurisko.fr/js/theme.js"></script>

<!-- Revolution Slider Scripts -->
<script src="https://r.shurisko.fr/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="https://r.shurisko.fr/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- Circle Flip Slideshow Script -->
<script src="https://r.shurisko.fr/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
<!-- Current Page Views -->
<script src="https://r.shurisko.fr/js/views/view.home.js"></script>

<!-- Theme Custom -->
<script src="https://r.shurisko.fr/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="https://r.shurisko.fr/js/theme.init.js"></script>

<script type="text/javascript">

</script>

</body>
</html>
